modules/04-integrations-rest-soap-db/lab/solution-cycle-08/customer-system-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- Solution: Module 4, Cycle 8 — Choice Router
     Conditional routing by ?source= query parameter. -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
        http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <flow name="get-customer-implementation">
        <set-variable variableName="customerId"
                      value="#[attributes.uriParams.customerId]"
                      doc:name="Set customerId"/>

        <logger level="INFO"
                message="#['Processing customer: ' ++ vars.customerId]"
                doc:name="Log customerId"/>

        <!-- Cycle 8: Choice router for conditional source selection -->
        <choice doc:name="Route by source">

            <!-- REST only -->
            <when expression="#[attributes.queryParams.source == 'rest']">
                <flow-ref name="get-enrichment-data" doc:name="REST only"/>
                <ee:transform doc:name="Format REST response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    customerId: vars.customerId,
    company: payload.companyName,
    industry: payload.industry,
    employees: payload.employeeCount,
    revenue: payload.revenue
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- DB only -->
            <when expression="#[attributes.queryParams.source == 'db']">
                <flow-ref name="get-customer-score" doc:name="DB only"/>
                <ee:transform doc:name="Format DB response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    customerId: vars.customerId,
    score: payload[0].score,
    segment: payload[0].segment
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- SOAP only -->
            <when expression="#[attributes.queryParams.source == 'soap']">
                <flow-ref name="validate-address" doc:name="SOAP only"/>
                <ee:transform doc:name="Format SOAP response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    customerId: vars.customerId,
    addressValid: payload.body.ValidateAddressResponse.isValid,
    addressConfidence: payload.body.ValidateAddressResponse.confidence
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- Default: all sources in parallel (Cycle 7) -->
            <otherwise>
                <scatter-gather doc:name="Parallel Enrichment">
                    <route>
                        <flow-ref name="get-enrichment-data" doc:name="REST enrichment"/>
                    </route>
                    <route>
                        <flow-ref name="get-customer-score" doc:name="DB score"/>
                    </route>
                    <route>
                        <flow-ref name="validate-address" doc:name="SOAP address"/>
                    </route>
                </scatter-gather>
                <ee:transform doc:name="Merge all sources">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var enrichment = payload."0".payload
var scoreData  = payload."1".payload[0]
var address    = payload."2".payload
---
{
    customerId:        vars.customerId,
    company:           enrichment.companyName,
    industry:          enrichment.industry,
    employees:         enrichment.employeeCount,
    revenue:           enrichment.revenue,
    score:             scoreData.score,
    segment:           scoreData.segment,
    addressValid:      address.body.ValidateAddressResponse.isValid,
    addressConfidence: address.body.ValidateAddressResponse.confidence,
    enrichedAt:        now()
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- Sub-flow: REST enrichment (Cycle 3) -->
    <sub-flow name="get-enrichment-data">
        <http:request config-ref="Enrichment_API" method="GET"
                      path="/enrich/{customerId}" doc:name="Call Enrichment API">
            <http:uri-params><![CDATA[#[{customerId: vars.customerId}]]]></http:uri-params>
        </http:request>
    </sub-flow>

    <!-- Sub-flow: Database score lookup (Cycle 4) -->
    <sub-flow name="get-customer-score">
        <db:select config-ref="PostgreSQL_Config" doc:name="Query customer score">
            <db:sql>SELECT score, segment, last_updated
                   FROM customer_scores
                   WHERE customer_id = :customerId</db:sql>
            <db:input-parameters><![CDATA[#[{customerId: vars.customerId}]]]></db:input-parameters>
        </db:select>
    </sub-flow>

    <!-- Sub-flow: SOAP address validation (Cycle 5) -->
    <sub-flow name="validate-address">
        <wsc:consume config-ref="Address_Validation"
                     operation="ValidateAddress"
                     doc:name="Validate Address">
            <wsc:message>
                <wsc:body><![CDATA[#[%dw 2.0
output application/xml
ns addr http://example.com/address
---
addr#ValidateAddress: {
    addr#street: "123 Innovation Drive",
    addr#city: "Austin",
    addr#state: "TX",
    addr#postalCode: "78701"
}]]]></wsc:body>
            </wsc:message>
        </wsc:consume>
    </sub-flow>
</mule>
